@import './variables.scss';

header{
    width: 100%;
    height: 80px;
    background: $bg_color;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 150px;
    @media screen and (max-width:900px) {
        padding: 0 24px;
    }
}
.nav-links{
    color: $grey;
    text-decoration: none;
}
.nav-links-span:nth-child(1){
    padding-right: 48px;
}
.active{
    color: $active_white;
}
.footer{
    color: $grey;
    padding-top: 120px;
    padding-bottom: 96px;
    .footer_icons-list{
        padding-top: 24px;
    .footer_icons2{
        padding: 0 64px;
    }
    }
}
section{
    background: $bg_body;
    @media screen and (max-width:1200px) {
        padding: 0 24px;
        overflow-x: hidden;
    }
}
.loading{
    img{
        max-width: 200px;
        margin-top: 205px;
    }
}

.home-table{
    @media screen and (max-width:900px) {
        overflow-x: scroll;
    }
}

.table{
    border: 1px solid $border_grey;
    padding: 24px;
    background: $bg2;
    border-radius: 12px;
    text-align: left;
    margin: auto;
    max-width: 1146px;
    width: 100%;
    th{
        color: $active_white;
        font-size: 16px;
        font-weight: bold;
    }
    .tableData{
        font-size: 14px;
    }
    .stateNames{
        color: $active_white;
    }
}
.confirmed-state{
    color: $confirmed;
}
.active-state{
    color: $active;
}
.recovered-state{
    color: $recovered;
}
.deceased-state{
    color: $diceased;
}
.population-state{
    color: $grey;
}
.icon{
    cursor: pointer;
}
.cards-container{
    display: flex;
    font-size: 16px;
    margin: auto;
    width: 100%;
    max-width: 976px;
    justify-content: space-between;
    padding-top: 112px;
    padding-bottom: 106px;
    @media screen and (max-width:900px) {
        flex-wrap: wrap;
        padding-top: 48px;
        padding-bottom: 50px;
    }
    @media screen and (max-width:345px) {
        justify-content: center;
    }
    div{
        display: flex;
        flex-direction: column;
        height: 148px;
        width: 148px;
        @media screen and (max-width:900px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width:345px) {
            margin-bottom: 40px;
        }
        img{
            width: 100%;
            max-width: 38px;
            margin: auto;
            padding-top: 24px;
            padding-bottom: 32px;
            @media screen and (max-width:900px) {
                padding-top: 12px;
                padding-bottom: 20px;
            }
        }
    }
}

.select-container{
    padding-top: 64px;
    .select{
        max-width: 824px;
        width: 100%;
        margin: auto;
        border: 1px solid $border_grey;
        padding: 14px;
        background: $bg2;
        border-radius: 8px;
        text-align: left;
        color: $text !important;
    }
}