$bg_color:#1E1E30;
$active_white: #F8FAFC;
$grey:#94A3B8;
$bg_body:#161625;
$confirmed:#FF073A;
$active:#007BFF;
$recovered:#28A745;
$diceased:#6C757D;
$border_grey:#475569;
$bg2:#2F2F43;
$text:#64748B;
$button:#2563EB;